<div class="container projects-container">
  <h3>{{ site.projects_title | default: "Projects" }}</h3>
    {% for project in site.data.projects %}
    {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
  {% endfor %}
      <ul class="icons no-print">
          {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://www.slkgroup.com/software/testing-services/nineteen68-platform.php" class="button button--sacnite button--round-l">
              <i class="fas fa-external-link" title="More about Nineteen68"></i>
            </a>
          </li>
        {%- endif -%}
      </ul>
</div>